@import "./components/notifications.css";

body {
    background-color: #E5E5E5;
}

.modal__window {
    border-radius: 8px;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 406px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px rgba(21, 42, 77, 0.08);
}

.btn-close {
    border: none;
    background: none;
    position: absolute;
    top: 44px;
    right: 44px;

}

.btn-close:hover {
    transform: scale(1.05);
}

.content {

    width: 342px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #3E3E3E;
    margin-top: 0;
    margin-bottom: 16px;
}


.notification-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3E3E3E;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    vertical-align: middle;
}

.content-description {

    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3E3E3E;
    margin-top: 0px;
    margin-bottom: 32px;
}

.actions {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.action__blue {
    width: 83px;
    height: 40px;
    background-color: #3E56AA;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}

.action__grey {
    width: 83px;
    height: 40px;
    background-color: rgba(0, 16, 61, 0.06);
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #2C2D2E;
    margin-left: 12px;
}

.action__clear {
    width: 83px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #3E56AA;
    margin-left: 81px;
}