.notification-blue {
    position: relative;
    width: 298px;
    padding: 10px;
    padding-left: 34px;
    background-color: rgba(40, 73, 157, 0.09);
    border-radius: 4px;
    margin-bottom: 12px;
    
}

.notification-blue::before {
    content: url("../../img/blue.svg");
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 16px;
    left: 18px;
}

.notification-green {
    position: relative;
    width: 298px;
    padding: 10px;
    padding-left: 34px;
    background-color: #E9F8EB;
    border-radius: 4px;
    margin-bottom: 12px;
}

.notification-green::before {
    content: url("../../img/green.svg");
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 16px;
    padding-left: 18px;
}

.notification-yellow {
    position: relative;
    width: 298px;
    padding: 10px;
    padding-left: 34px;
    background-color: #FFF8E0;
    border-radius: 4px;
    margin-bottom: 12px;
}

.notification-yellow::before {
    content: url("../../img/yellow.svg");
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 16px;
    padding-left: 18px;
}

.notification-red {
    position: relative;
    width: 298px;
    padding: 10px;
    padding-left: 34px;
    background-color: #FDEAE4;
    border-radius: 4px;
    margin-bottom: 12px;
}

.notification-red::before {
    content: url("../../img/red.svg");
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 16px;
    padding-left: 18px;
}